PORT=5000
NODE_ENV=development
SUPABASE_URL=your_supabase_url
SUPABASE_SECRET_KEY=your_supabase_service_role_secret_key
SUPABASE_PUBLISHABLE_KEY=your_supabase_anon_publishable_key
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN=1d
FRONTEND_ORIGIN=http://localhost:3000
GEMINI_API_KEY=your_gemini_api_key
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
FIREBASE_PROJECT_ID=your_firebase_project_id

# Admin Bootstrap (Used by 'npm run create-admin' only; not automatically created on startup)
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=
ADMIN_FIRST_NAME=System
ADMIN_LAST_NAME=Admin
